/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #8cec8c;
    color: #333;
    padding: 20px;
}

header {
    background-color: #0e8b0e;
    color: rgb(71, 33, 121);
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.imagem img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.introducao, .topicos, .conclusao {
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #1b289c;
    color: rgba(152, 248, 149, 0.308);
    border-radius: 8px;
}

/* Responsivo */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .imagem img {
        width: 100%;
    }
}
